USE [BANCA_DE_JORNAL]
GO

/****** Object:  StoredProcedure [dbo].[SP_ATUALIZA_CATALOGO]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_ATUALIZA_CATALOGO]
	@idprod int,
	@desc_prod varchar(50),
	@val_prod decimal(10,2),
	@idforn int,
	@qtd_est int
AS
	UPDATE CATALOGO SET 
		DESC_PRODUTO = @desc_prod,
		VALOR_PRODUTO = @val_prod,
		IDFORNECEDOR  = @idforn,
		QUANTIDADE_ESTOQUE = @qtd_est
	WHERE IDPRODUTO = @idprod
GO

/****** Object:  StoredProcedure [dbo].[SP_ATUALIZA_COMPRA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_ATUALIZA_COMPRA]
	@IDFORNECEDOR INTEGER,
	@IDCOMPRA INT ,
	@DATA_VENDA DATETIME,
	@PRECO_VENDA DECIMAL(10,2)
AS 
	UPDATE COMPRA SET
		IDFORNECEDOR = @IDFORNECEDOR,
		DATA_VENDA = @DATA_VENDA,
		PRECO_VENDA = @PRECO_VENDA
	WHERE IDCOMPRA = @IDCOMPRA
GO

/****** Object:  StoredProcedure [dbo].[SP_ATUALIZA_DEVOLUCAO]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_ATUALIZA_DEVOLUCAO]
	@IDFORNECEDOR INTEGER,
	@IDCOMPRA INT ,
	@DATA_VENDA DATETIME,
	@PRECO_VENDA DECIMAL(10,2)
AS	
	UPDATE DEVOLUCAO SET
		IDFORNECEDOR = @IDFORNECEDOR,
		DATA_DEVOLUCAO = @DATA_VENDA,
		PRECO_DEVOLUCAO = @PRECO_VENDA
	WHERE IDDEVOLUCAO = @IDCOMPRA
GO

/****** Object:  StoredProcedure [dbo].[SP_ATUALIZA_FORNECEDOR]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_ATUALIZA_FORNECEDOR]
	@IDFORNECEDOR INT,
	@RAZAO_SOCIAL VARCHAR(50),
	@CNPJ VARCHAR(14),
	@ENDERECO VARCHAR(50),
	@TELEFONE VARCHAR(11)
AS
	UPDATE FORNECEDOR SET  
		RAZAO_SOCIAL= @RAZAO_SOCIAL,
		CNPJ = @CNPJ,
		ENDERECO = @ENDERECO,
		TELEFONE = @TELEFONE
	WHERE IDFORNECEDOR = @IDFORNECEDOR
GO

/****** Object:  StoredProcedure [dbo].[SP_ATUALIZA_PRODUTO_COMPRA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_ATUALIZA_PRODUTO_COMPRA]
	@IDPRODUTO INTEGER,
	@IDCOMPRA INTEGER,---FOREIGN KEY
	@QUANTIDADE_COMPRA INT,
	@PRECO_UNITARIO DECIMAL(10,2),
	@SN_DEVOLUCAO CHAR
AS
	IF @SN_DEVOLUCAO = 'N'
	BEGIN
		UPDATE PRODUTO_COMPRA SET	         
			QUANTIDADE_COMPRA = @QUANTIDADE_COMPRA,
			PRECO_UNITARIO = @PRECO_UNITARIO
		WHERE IDPRODUTO = @IDPRODUTO AND IDCOMPRA = @IDCOMPRA
	END
	ELSE
	BEGIN
	    UPDATE PRODUTO_DEVOLUCAO SET       
			QUANTIDADE_DEVOLUCAO = @QUANTIDADE_COMPRA,
			PRECO_UNITARIO = @PRECO_UNITARIO
		WHERE IDPRODUTO = @IDPRODUTO AND IDDEVOLUCAO = @IDCOMPRA
    END
GO

/****** Object:  StoredProcedure [dbo].[SP_ATUALIZA_PRODUTO_VENDA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_ATUALIZA_PRODUTO_VENDA]
    @IDPRODUTO INTEGER,
	@IDVENDA INTEGER ,---FOREIGN KEY
	@QUANTIDADE_VENDA INT,
	@PRECO_UNITARIO DECIMAL(10,2)
AS
	UPDATE PRODUTO_VENDA SET
		IDPRODUTO = @IDPRODUTO,
		IDVENDA = @IDVENDA,
		QUANTIDADE_VENDA = @QUANTIDADE_VENDA,
		PRECO_UNITARIO = @PRECO_UNITARIO
	WHERE IDVENDA = @IDVENDA AND IDPRODUTO = @IDPRODUTO
GO

/****** Object:  StoredProcedure [dbo].[SP_ATUALIZA_USUARIO]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_ATUALIZA_USUARIO]
	@IDUSUARIO INT,
	@NOME_USUARIO VARCHAR(50),
	@SENHA VARCHAR(50),
	@ACESSO CHAR
AS
	UPDATE USUARIO SET
		NOME_USUARIO = @NOME_USUARIO,
		SENHA = @SENHA,
		ACESSO = @ACESSO
	WHERE IDUSUARIO = @IDUSUARIO
GO

/****** Object:  StoredProcedure [dbo].[SP_ATUALIZA_VENDA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_ATUALIZA_VENDA]
	@IDVENDA INT,
	@PRECO_VENDA DECIMAL(10,2),
	@DATA_VENDA DATETIME,
	@TP_PAGAMENTO CHAR
AS
	UPDATE VENDA SET
		PRECO_VENDA = @PRECO_VENDA,
		DATA_VENDA = @DATA_VENDA,
		TP_PAGAMENTO  = @TP_PAGAMENTO
	WHERE IDVENDA = @IDVENDA
GO

/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_CATALOGO]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_CONSULTA_CATALOGO]
	@idprod INT
AS
   SELECT * FROM CATALOGO WHERE IDPRODUTO = @idprod 
   RETURN
GO

/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_COMPRA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_CONSULTA_COMPRA]
	@ID INT
AS
	SELECT * FROM COMPRA WHERE IDCOMPRA = @ID
	RETURN
GO

/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_DEVOLUCAO]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_CONSULTA_DEVOLUCAO]
	@ID INT
AS
	SELECT * FROM DEVOLUCAO WHERE IDDEVOLUCAO =  @ID
GO

/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_FORNECEDOR]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_CONSULTA_FORNECEDOR]
	@IDFORNECEDOR INT
AS
	SELECT * FROM FORNECEDOR WHERE IDFORNECEDOR = @IDFORNECEDOR
	RETURN
GO

/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_PRODUTO_COMPRA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_CONSULTA_PRODUTO_COMPRA]
	@IDPRODUTO INTEGER,
	@IDCOMPRA INTEGER
AS
	SELECT * FROM PRODUTO_COMPRA WHERE IDPRODUTO = @IDPRODUTO AND IDCOMPRA = @IDCOMPRA
GO

/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_PRODUTO_DEVOLUCAO]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_CONSULTA_PRODUTO_DEVOLUCAO]
	@IDDEVOLUCAO INTEGER,
	@IDPRODUTO INTEGER
AS
	SELECT * FROM PRODUTO_DEVOLUCAO WHERE IDDEVOLUCAO = @IDDEVOLUCAO AND IDPRODUTO = @IDPRODUTO
GO

/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_PRODUTO_VENDA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_CONSULTA_PRODUTO_VENDA]
	@IDVENDA INTEGER
AS
	SELECT * FROM PRODUTO_VENDA WHERE IDVENDA = @IDVENDA
GO

/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_USUARIO]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_CONSULTA_USUARIO]
	@IDUSUARIO INT
AS
	SELECT * FROM USUARIO WHERE IDUSUARIO = @IDUSUARIO
GO

/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_VENDA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_CONSULTA_VENDA]
	@IDVENDA INT
AS
	SELECT * FROM VENDA WHERE IDVENDA = @IDVENDA 
	RETURN
GO

/****** Object:  StoredProcedure [dbo].[SP_EXCLUI_CATALOGO]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_EXCLUI_CATALOGO]
	@idprod INT
AS
	DELETE FROM CATALOGO WHERE IDPRODUTO = @idprod
GO

/****** Object:  StoredProcedure [dbo].[SP_EXCLUI_COMPRA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_EXCLUI_COMPRA]
	@IDCOMPRA INT
AS
	DELETE FROM COMPRA WHERE IDCOMPRA = @IDCOMPRA     
GO

/****** Object:  StoredProcedure [dbo].[SP_EXCLUI_DEVOLUCAO]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_EXCLUI_DEVOLUCAO]
	@IDDEVOLUCAO INT
AS 
	DELETE FROM DEVOLUCAO WHERE IDDEVOLUCAO = @IDDEVOLUCAO
GO

/****** Object:  StoredProcedure [dbo].[SP_EXCLUI_FORNECEDOR]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_EXCLUI_FORNECEDOR]
	@IDFORNECEDOR INT
AS
	DELETE FROM FORNECEDOR WHERE IDFORNECEDOR = @IDFORNECEDOR
GO

/****** Object:  StoredProcedure [dbo].[SP_EXCLUI_PRODUTO_COMPRA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_EXCLUI_PRODUTO_COMPRA]
	@IDPRODUTO INTEGER,
	@IDCOMPRA INTEGER,
	@SN_DEVOLUCAO CHAR
AS
	IF @SN_DEVOLUCAO = 'N'
	BEGIN
		DELETE FROM PRODUTO_COMPRA WHERE IDPRODUTO = @IDPRODUTO AND IDCOMPRA = @IDCOMPRA
	END	  
	ELSE
	BEGIN
		DELETE FROM PRODUTO_DEVOLUCAO WHERE IDPRODUTO = @IDPRODUTO AND IDDEVOLUCAO = @IDCOMPRA
	END
GO

/****** Object:  StoredProcedure [dbo].[SP_EXCLUI_PRODUTO_VENDA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_EXCLUI_PRODUTO_VENDA]
	@IDVENDA INTEGER,
	@IDPRODUTO INTEGER
AS
	DELETE FROM PRODUTO_VENDA WHERE IDVENDA = @IDVENDA AND IDPRODUTO = @IDPRODUTO
GO

/****** Object:  StoredProcedure [dbo].[SP_EXCLUI_USUARIO]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_EXCLUI_USUARIO]
	@IDUSUARIO INT
AS
	DELETE FROM USUARIO WHERE  IDUSUARIO = @IDUSUARIO
GO

/****** Object:  StoredProcedure [dbo].[SP_EXCLUI_VENDA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_EXCLUI_VENDA]
	@IDVENDA INT
AS
	DELETE FROM VENDA WHERE IDVENDA =  @IDVENDA
GO

/****** Object:  StoredProcedure [dbo].[SP_INSERE_CATALOGO]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_INSERE_CATALOGO]
	@desc_prod varchar(50),
	@val_prod DECIMAL(10,2),
	@idforn INT,
	@qtd_est INT 
AS
	-- EXEC SP_ZERA_INCREMENTO 2
	INSERT INTO CATALOGO VALUES(@desc_prod,@val_prod,@idforn,@qtd_est)
GO

/****** Object:  StoredProcedure [dbo].[SP_INSERE_COMPRA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_INSERE_COMPRA]
	@IDFORNECEDOR INTEGER,
	@DATA_VENDA DATETIME,
	@PRECO_VENDA DECIMAL(10,2)
AS
	INSERT INTO COMPRA VALUES(@IDFORNECEDOR,@DATA_VENDA,@PRECO_VENDA)
GO

/****** Object:  StoredProcedure [dbo].[SP_INSERE_DEVOLUCAO]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_INSERE_DEVOLUCAO]
	@IDFORNECEDOR INTEGER,
	@DATA_VENDA DATETIME,
	@PRECO_VENDA DECIMAL(10,2)
AS
	INSERT INTO DEVOLUCAO VALUES(@IDFORNECEDOR,@DATA_VENDA,@PRECO_VENDA)
GO

/****** Object:  StoredProcedure [dbo].[SP_INSERE_FORNECEDOR]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_INSERE_FORNECEDOR]
	@RAZAO_SOCIAL VARCHAR(50),
	@CNPJ VARCHAR(14),
	@ENDERECO VARCHAR(50),
	@TELEFONE VARCHAR(11)
AS
	-- EXEC SP_ZERA_INCREMENTO 1
	INSERT INTO FORNECEDOR VALUES (@RAZAO_SOCIAL,@CNPJ,@ENDERECO,@TELEFONE)
GO

/****** Object:  StoredProcedure [dbo].[SP_INSERE_PRODUTO_COMPRA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_INSERE_PRODUTO_COMPRA]
	@IDPRODUTO INTEGER,
	@IDCOMPRA INTEGER,---FOREIGN KEY
	@QUANTIDADE_COMPRA INT,
	@PRECO_UNITARIO DECIMAL(10,2),
	@SN_DEVOLUCAO CHAR
AS
	IF @SN_DEVOLUCAO = 'N'
	BEGIN
		INSERT INTO PRODUTO_COMPRA VALUES(@IDPRODUTO,@IDCOMPRA,@QUANTIDADE_COMPRA,@PRECO_UNITARIO)
	END
	ELSE 
	BEGIN
		INSERT INTO PRODUTO_DEVOLUCAO VALUES(@IDPRODUTO,@IDCOMPRA,@QUANTIDADE_COMPRA,@PRECO_UNITARIO)
	END
GO

/****** Object:  StoredProcedure [dbo].[SP_INSERE_PRODUTO_VENDA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_INSERE_PRODUTO_VENDA]
	@IDPRODUTO INTEGER,
	@IDVENDA INTEGER ,---FOREIGN KEY
	@QUANTIDADE_VENDA INT,
	@PRECO_UNITARIO DECIMAL(10,2)
AS
	INSERT INTO PRODUTO_VENDA VALUES(@IDPRODUTO,@IDVENDA,@QUANTIDADE_VENDA,@PRECO_UNITARIO)
GO

/****** Object:  StoredProcedure [dbo].[SP_INSERE_USUARIO]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_INSERE_USUARIO]
	@NOME_USUARIO VARCHAR(50),
	@SENHA VARCHAR(50),
	@ACESSO CHAR
AS
	--  EXEC SP_ZERA_INCREMENTO 5
	INSERT INTO USUARIO VALUES(@NOME_USUARIO,@SENHA,@ACESSO)
GO

/****** Object:  StoredProcedure [dbo].[SP_INSERE_VENDA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_INSERE_VENDA]
	@PRECO_VENDA DECIMAL(10,2),
	@DATA_VENDA DATETIME,
	@TP_PAGAMENTO CHAR
AS
	-- EXEC SP_ZERA_INCREMENTO 3
	INSERT INTO VENDA VALUES(@PRECO_VENDA,@DATA_VENDA,@TP_PAGAMENTO)
GO

/****** Object:  StoredProcedure [dbo].[SP_LISTA_CATALOGO]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_LISTA_CATALOGO]
	@SN_ESTOQUE CHAR
AS
	IF @SN_ESTOQUE = 'N'
	BEGIN
		SELECT * FROM CATALOGO
	END
	IF @SN_ESTOQUE = 'S'
	BEGIN
		SELECT * FROM CATALOGO WHERE QUANTIDADE_ESTOQUE > 0
	END
GO

/****** Object:  StoredProcedure [dbo].[SP_LISTA_COMPRA]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_LISTA_COMPRA]
	@IDFORNECEDOR INT,
	@SN_DEVOLUCAO CHAR
AS
	IF @SN_DEVOLUCAO = 'S'
	BEGIN
		SELECT * FROM CATALOGO WHERE IDFORNECEDOR = @IDFORNECEDOR AND QUANTIDADE_ESTOQUE > 0
	END
	ELSE
	BEGIN
		SELECT * FROM CATALOGO WHERE IDFORNECEDOR = @IDFORNECEDOR
	END
GO

/****** Object:  StoredProcedure [dbo].[SP_LISTA_FORNECEDOR]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_LISTA_FORNECEDOR]
AS
	SELECT * FROM FORNECEDOR
GO

/****** Object:  StoredProcedure [dbo].[SP_LISTA_USUARIO]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_LISTA_USUARIO]
AS
	SELECT * FROM USUARIO
GO

/****** Object:  StoredProcedure [dbo].[SP_VALIDA_LOGIN]    Script Date: 29/05/2019 00:44:57 ******/
CREATE OR ALTER PROCEDURE [dbo].[SP_VALIDA_LOGIN]
	@NOME_USUARIO VARCHAR(50),
	@SENHA VARCHAR(50),
	@ACESSO CHAR OUTPUT
AS
	IF EXISTS(SELECT * FROM USUARIO WHERE NOME_USUARIO = @NOME_USUARIO AND SENHA = @SENHA)
	BEGIN
		SET @ACESSO = ( SELECT ACESSO FROM USUARIO WHERE NOME_USUARIO = @NOME_USUARIO AND SENHA = @SENHA)	 
	END
GO